/* ARTICLE SECTION */
#article {
  margin-top: 100px;
}

/* ABOUT SECTION */
#about {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 100px;
  height: 320px;
}

.image-container {
  width: 50%;
}

.text-section {
  font-size: large;
  width: 90%;
}

.image-container img {
  rotate: -3deg;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s ease-in-out;
}

.image-container img:hover {
  rotate: 0deg;
  transition: rotate 0.3s ease-in-out;
}

.img-history {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
}

@media screen and (max-width: 1000px) {
  #about {
    height: auto;
  }

  .image-container {
    width: 100%;
  }

  .img-history {
    margin-top: 30px;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

@media screen and (max-width: 768px) {
  #about {
    height: auto;
    border: none;
  }

  .image-container {
    text-align: center;
    width: 100%;
  }

  .img-history {
    margin-top: 30px;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}
