#line,
#line-1,
#line-2,
#line-3,
#line-4 {
  height: 2px;
  margin-top: -12px;
  width: 14rem;
  background-color: black;
}

@media screen and (max-width: 1000px) {
  #line-1,
  #line-2,
  #line-3,
  #line-4 {
    margin-top: -1rem;
    margin-left: 0.5rem;
  }

  #line-1 {
    height: 15rem;
    width: 2px;
  }

  #line-2 {
    height: 13rem;
    width: 2px;
  }

  #line-3 {
    height: 16rem;
    width: 2px;
  }

  #line-4 {
    height: 20rem;
    width: 2px;
  }

  #content-line {
    margin-top: 110px;
  }
}

@media screen and (max-width: 768px) {
  #line-1,
  #line-2,
  #line-3,
  #line-4 {
    margin-top: -1rem;
    margin-left: 0.5rem;
  }

  #line-1 {
    height: 13rem;
    width: 2px;
  }

  #line-2 {
    height: 14rem;
    width: 2px;
  }

  #line-3 {
    height: 17rem;
    width: 2px;
  }

  #line-4 {
    height: 20rem;
    width: 2px;
  }

  #content-line {
    margin-top: 140px;
  }
}

#contet-card-sejarah {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.5s ease-in-out;
}

#content-card-sejarah:hover {
  background-color: #f0f0f0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.5s ease-in-out;
}
